<div class="card blue darken-1">
  <div class="card-content white-text">
    <%= image_tag message.recipient.avatar, class: 'circle', width: '50', height: '50' %>
    <span class="card-title" id="card-title">To: <%= message.recipient.name %>, at: <%= message.create_time %></span>
    <p id="card-content"><%= message.short_content %></p>
  </div>

  <div class="card-action blue darken-2">
    <%= link_to 'Detail', detail_message_path(message) %>
  </div>
</div>
