<nav>
  <div class="nav-wrapper">
    <%= link_to 'Snappy Chat', root_path, class: 'brand-logo' %>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
          <li>
            <a class="dropdown-button" data-activates="dropdown-friend">
              Friend<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <a class="dropdown-button" data-activates="dropdown-message">
              Message<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li>
            <%= link_to 'Logout', sessions_path, method: :delete, data: {confirm: 'Are you sure?'} %>
          </li>
      <% else %>
          <li>
            <%= link_to 'Login', new_sessions_path, method: :get %>
          </li>
          <li>
            <%= link_to 'Register', new_user_path, method: :get %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>

<ul id="dropdown-message" class="dropdown-content">
  <li>
    <%= link_to 'Sent', sent_messages_path, method: :get %>
  </li>
  <li>
    <%= link_to 'All', messages_path, method: :get %>
  </li>
</ul>

<ul id="dropdown-friend" class="dropdown-content">
  <li>
    <%= link_to 'Requests', relations_path, method: :get %>
  </li>
  <li>
    <%= link_to 'Add', users_path, method: :get %>
  </li>
</ul>