<div class="card green darken-1" id="friend-<%= user.id %>">
  <div class="card-content white-text">
    <span class="card-title"><%= user.name %></span>
    <p><%= user.description %></p>
  </div>
  <div class="card-action green darken-2">
    <%= link_to 'Unfriend', unfriend_user_path(user), method: :post, remote: true %>
    <%= link_to 'Block', block_user_path(user), method: :post, remote: true, class: 'right' %>
  </div>
</div>